<app-navbar></app-navbar>
<div class="contPri">
    <div class="contTitle w-full p-5 text-center">
        <h1 class="title">Lung Cancer AI</h1>
        <p class="description">
            Un innovador sistema de predicción de cáncer de pulmón que utiliza inteligencia artificial y análisis de imágenes PET para detectar tipos específicos de cáncer con alta precisión, facilitando un diagnóstico temprano y oportuno.
        </p>
    </div> 
    <div class="contButton p-3 d-flex justify-content-center align-items-center position-relative">   
        <img src="../../../assets/images/welcome.jpg" alt="Imagen médica de fondo" class="background-image">
        <button type="button" class="btn-custom">Conoce nuestro modelo</button>
    </div>
</div>
