<div class="contPri d-flex w-full">
    <app-navbar2></app-navbar2>
    <div class="contPatients w-100">
      <div class="contNewPatient">
        <div class="text-center">
            <h1>Pacientes</h1>
        </div>
        <div class="contInput input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar a un paciente..."
            [(ngModel)]="searchText"
            (input)="filterPatients()"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="clearSearch()">
              Clear
            </button>
          </div>
        </div>
      </div>
      <div class="contTablePatients d-flex justify-content-center p-4">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Cedula</th>
              <th scope="col">Nombres</th>
              <th scope="col">Fecha de Nacimiento</th>
              <th scope="col">Sexo</th>
              <th scope="col">Predicción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of filteredPatients">
              <td>{{patient.identification}}</td>
              <td>{{patient.name}}</td>
              <td>{{patient.last_name}}</td>
              <td>{{patient.sex}}</td>
              <td><a href="/show_predict">Ver Predicción</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
