.contNewPatient{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contInput{
    width: 350px;
}

table{
    width: 600px;
}