<div class="d-flex w-5">
    <!-- Sidebar -->
    <nav class="bg-primary text-light vh-100" id="sidebar" >
      <div class="p-3">
        <!-- Logo -->
        <div class="text-center mb-4">
          <i class="bi bi-box-seam fs-1"></i>
          <h5 class="mt-2">Lung Cancer AI</h5>
        </div>
  
        <!-- Navigation Links -->
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-light d-flex align-items-center" href="\patients">
              <i class="bi bi-people-fill me-2"></i> Pacientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light d-flex align-items-center" href="\show_predict">
              <i class="bi bi-journal me-2"></i> Predicciones
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light d-flex align-items-center" href="#">
              <i class="bi bi-gear me-2"></i> Settings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light d-flex align-items-center" href="#">
              <i class="bi bi-question-circle me-2"></i> Help
            </a>
          </li>
        </ul>
      </div>
    </nav>
