<div class="bg-primary d-flex vh-100" style="height: 100%;">
  <!-- Sidebar -->
  <nav class="text-light vh-100 d-flex flex-column" id="sidebar">
    <div class="p-3 flex-grow-1">
      <!-- Logo -->
      <div class="text-center mb-4">
        <i class="bi bi-box-seam fs-1"></i>
        <h5 class="mt-2">Lung Cancer AI</h5>
      </div>

      <!-- Navigation Links -->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-light d-flex align-items-center" href="\patients">
            <i class="bi bi-people-fill me-2"></i> Pacientes
          </a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link text-light d-flex align-items-center" href="\upload_images">
            <i class="bi bi-image me-2"></i>Subir imagenes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light d-flex align-items-center" href="\upload_images_cancer">
            <i class="bi bi-image me-2"></i>Imagenes Cancer
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
